#chat-screen {
  background-color: var(--forestgreen);
  height: 1100vh;
}

#chat-screen .alt-header,
#chat-screen .statusbar {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: wheat;
  box-sizing: border-box;
}

#chat-screen .statusbar {
  z-index: 2;
}

#chat-screen .alt-header {
  top: 10px;
  z-index: 1;
}

.main-chat {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat__timestamp {
  color: white;
  background-color: var(--forestgreen);
  justify-content: center;
  padding: 15px;
  border-radius: 25px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.message__author {
  opacity: 0.8;
  font-size: 13px;
  margin-bottom: 30px;
  display: block;
}

.message__bubble {
  background-color: var(--forestgreen);
  color: white;
  padding: 13px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}

.massage__time {
  opacity: 0.8;
  font-size: 13px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}
